.home-container {
  margin-top: 158px;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/starwars9.jpg');
  height: 438px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 2.9rem;
  font-weight: 550;
}

.hero-desc {
  font-size: 1.4rem;
}

.slider1-container {
  width: 1100px;
  margin: 0 auto;
  padding: 80px 0 0;
}

@media screen and (max-width: 1100px) {
  .slider1-container {
    width: 550px;
  }
}

@media screen and (max-width: 550px) {
  .slider1-container {
    width: 275px;
  }
}

.slider1-container.last {
  padding-bottom: 80px;
}

.carousel-container {
  height: 499px;
}

.new-movies {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.slider-link {
  text-decoration: none;
  color: #000
}

.slider-class {
  height: 460px;
}

/* .footer {
  display: flex;
  background: #031C24;
  padding: 0 20px;
}

.footer-title {
  font-size: 1rem;
  font-weight: 550;
  margin-right: 30px;
  color: #00E571;
}

.footer-desc {
  color: #fff;
}

.item-class {
  display: block;
} */