.hero-container {
  margin-top: 110px;
  height: 1000px;
}

.hero-image {
  background: url('/images/starwars9.jpg');
  height: 438px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}