.movie-popular-container {
  margin: 0 auto;
  width: 900px;
  margin-top: 111px;
}

.movie-popular-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-popular-card {
  display: flex;
  width: 420px;
  margin-bottom: 20px;
}

.movie-popular-card:nth-child(odd) {
  margin-right: 20px;
}