.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 30px 20px;
  overflow: hidden;
  background: #031C24;
  /* position: fixed;
  top: 0;
  z-index: 99;
  width: 100%; */
  transition: 0.4s;
  position: relative;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 550;
  margin-right: 30px;
  transition: 0.4s;
}

.nav-logo.shrink {
  font-size: 1rem;
}

.nav-logo a {
  color: #00E571;
  text-decoration: none;
}

.nav-menu {
  flex: 1;
  /* display: flex;
  justify-content: flex-end; */
}

.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%
}

.nav-menu ul li {
  /* padding-top: 20px; */
  margin-right: 20px;
  position: relative;
  top: 20px;
}

.nav-menu.shrink ul li {
  /* padding-top: 0; */
  position: relative;
  top: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
}

.nav-menu ul li>a {
  text-transform: uppercase;
}

.movies-submenu {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  width: 355px;
  height: 25px;
  z-index: 1;
}

.nav-menu ul li .movies-submenu a {
  display: inline-block;
  margin-right: 15px;
}

.nav-menu ul li .movies-submenu a:hover {
  color: #748C91;
}

.nav-menu ul li:hover .movies-submenu {
  display: block;
}

.mobile-menu {
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 1002;
  width: 250px;
  height: 100%;
  background: #000;
  padding-top: 48px;
  transition: 0.5s;
  opacity: 0.92;
}

.mobile-menu ul {
  margin: 0;
  padding: 0 0 0 30px;
  height: 100%;
  list-style: none;
}

.mm-hamburger-menu {
  color: #fff;
  padding: 10px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1003;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.mm-hamburger-menu span {
  cursor: pointer;
  padding-right: 15px;
}

.mobile-menu ul li button {
  background: none;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    text-align: left;
}

.mobile-menu ul li {
  padding: 5px 0;
}

.mm-movies-submenu {
  padding-left: 15px;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s;
}

.mm-movies-submenu.show-movies-sub,
.mm-movies-submenu.show-tvshows-sub {
  height: 88px;
}

.mm-movies-submenu a {
  display: block;
  text-decoration: none;
  color: #9b9b9b;
}

.mm-movies-submenu a:hover {
  color: #748C91;
}

@media screen and (max-width: 645px) {
  .nav-menu {
    display: none;
  }
  
  .mm-hamburger-menu {
    display: block;
  }

  .mobile-menu.show-menu {
    right: 0;
  }
}
