div#search-container {
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #dedede;
  height: 46px;
}

div#input-group {
  width: 900px;
  margin: 0 auto 20px;
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}


input#search-input, label[for="search-input"] {
  display:inline-block;
  vertical-align: middle;
}

input#search-input {
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
}

label[for="search-input"] {
  width: 40px;
  line-height: 40px;
}
